body {
    background-image: url(https://wallpaperbro.com/img/47626.png); 
    
}
.port {
    text-align: center;
    font-family: sans-serif;
}
.pic {
    transform: rotate(-.25turn);
    margin-top: 100px;
}
.pict {
    transform: rotate(-.25turn);
    margin-top: 100px;
}
.pictu {
    transform: rotate(-.25turn);
    margin-top: 100px;
}
.pictur {
    transform: rotate(-.25turn);
    margin-top: 100px;
    margin-top: 200px;
}
.picture {
    transform: rotate(-.25turn);
    margin-top: 100px;
}
.pictures {
    transform: rotate(-.25turn);
    margin-top: 100px;
}